polkit.addRule(function(action, subject) {
	if(action.id == "org.freedesktop.udisks.filesystem-mount" ||
	   action.id == "org.freedesktop.udisks.drive-eject" || 
	   action.id == "org.freedesktop.udisks.drive-detach" || 
	   action.id == "org.freedesktop.udisks.luks-unlock" || 
	   action.id == "org.freedesktop.udisks.inhibit-polling" || 
	   action.id == "org.freedesktop.udisks.drive-set-spindown")
	{
		return polkit.Result.YES;
	}
});
